<?xml version="1.0"?>
<!--
/**
 * @category    Amazon
 * @package     FLATz_AmazonDiagnostics
 * @copyright   Copyright (c) 2015 Amazon.com
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <FLATz_AmazonDiagnostics>
            <version>1.0.0</version>
        </FLATz_AmazonDiagnostics>
    </modules>
    <global>
        <helpers>
            <flatz_amazon_diagnostics>
                <class>FLATz_AmazonDiagnostics_Helper</class>
            </flatz_amazon_diagnostics>
        </helpers>
        <blocks>
            <flatz_amazon_diagnostics>
                <class>FLATz_AmazonDiagnostics_Block</class>
            </flatz_amazon_diagnostics>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <flatz_amazon_diagnostics after="Mage_Adminhtml">FLATz_AmazonDiagnostics</flatz_amazon_diagnostics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <FLATz_AmazonDiagnostics>
                    <files>
                        <default>FLATz_AmazonDiagnostics.csv</default>
                    </files>
                </FLATz_AmazonDiagnostics>
            </modules>
        </translate>   
    </adminhtml>
</config>
