<?xml version="1.0"?>
<!--
/**
 * @category    Amazon
 * @package     FLATz_AmazonPayments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <FLATz_AmazonPayments>
            <version>1.3.0</version>
        </FLATz_AmazonPayments>
    </modules>
    <global>
        <blocks>
            <flatz_amazon_payments>
                <class>FLATz_AmazonPayments_Block</class>
            </flatz_amazon_payments>
        </blocks>
        <models>
            <flatz_amazon_payments>
                <class>FLATz_AmazonPayments_Model</class>
            </flatz_amazon_payments>
            <sales>
                <rewrite>
                    <order_creditmemo>FLATz_AmazonPayments_Model_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <flatz_amazon_payments>
                <class>FLATz_AmazonPayments_Helper</class>
            </flatz_amazon_payments>
        </helpers>

        <rewrite>
            <flatz_amazon_payments_checkout>
                <from><![CDATA[#^/checkout/flatz_amazon_payments#]]></from>
                <to>/flatz_amazon_payments/checkout</to>
            </flatz_amazon_payments_checkout>
        </rewrite>

        <resources>
            <flatz_amazon_payments_setup>
                <setup>
                    <module>FLATz_AmazonPayments</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flatz_amazon_payments_setup>
        </resources>

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FLATz_AmazonPayments after="Mage_Adminhtml">FLATz_AmazonPayments_Adminhtml</FLATz_AmazonPayments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tax>
                    <file>flatz_amazon_payments.xml</file>
                </tax>
            </updates>
        </layout>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <flatz_amazon_payments>
                        <class>FLATz_AmazonPayments_Model_Observer_Adminhtml</class>
                        <method>addAsyncButton</method>
                    </flatz_amazon_payments>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <translate>
            <modules>
                <FLATz_AmazonPayments>
                    <files>
                        <default>FLATz_AmazonPayments.csv</default>
                    </files>
                </FLATz_AmazonPayments>
            </modules>
        </translate>        
    </adminhtml>

    <frontend>
        <secure_url>
            <cart_updatepost>/checkout/cart/updatePost</cart_updatepost>
            <checkout_amazon>/checkout/flatz_amazon_payments</checkout_amazon>
            <amazon_checkout>/flatz_amazon_payments/checkout</amazon_checkout>
        </secure_url>
        <routers>
            <flatz_amazon_payments>
                <use>standard</use>
                <args>
                    <module>FLATz_AmazonPayments</module>
                    <frontName>flatz_amazon_payments</frontName>
                </args>
            </flatz_amazon_payments>
        </routers>
        <layout>
            <updates>
                <flatz_amazon_payments>
                    <file>flatz_amazon_payments.xml</file>
                </flatz_amazon_payments>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                   <flatz_amazon_payments_observer>
                      <class>FLATz_AmazonPayments_Model_Observer_Onepage</class>
                      <method>beforeLoadLayout</method>
                   </flatz_amazon_payments_observer>
                </observers>
            </controller_action_layout_load_before>
            <sales_order_place_after>
                <observers>
                    <flatz_amazon_payments_observer>
                        <class>FLATz_AmazonPayments_Model_Observer_Order</class>
                        <method>updateCustomerAddress</method>
                    </flatz_amazon_payments_observer>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <flatz_amazon_payments_observer>
                        <class>FLATz_AmazonPayments_Model_Observer_Action</class>
                        <method>secureCart</method>
                    </flatz_amazon_payments_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <custom_quote_process>
                <observers>
                    <flatz_amazon_payments_observer>
                        <class>FLATz_AmazonPayments_Model_Observer_Onepage</class>
                        <method>clearShippingAddress</method>
                    </flatz_amazon_payments_observer>
                </observers>
            </custom_quote_process>
        </events>
        <translate>
            <modules>
                <FLATz_AmazonPayments>
                    <files>
                        <default>FLATz_AmazonPayments.csv</default>
                    </files>
                </FLATz_AmazonPayments>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment>
            <flatz_amazon_payments>
                <title>Amazon Payments</title>
                <model>flatz_amazon_payments/paymentMethod</model>
                <payment_action>authorize_capture</payment_action>
                <show_pay_cart>1</show_pay_cart>
                <order_status>processing</order_status>
                <active>1</active>
                <secure_cart>1</secure_cart>
                <button_type>PwA</button_type>
                <button_color>Gold</button_color>
                <button_size>medium</button_size>
                <button_badge>1</button_badge>
            </flatz_amazon_payments>
        </payment>
    </default>

    <crontab>
        <jobs>
            <flatz_amazon_payments_async>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>flatz_amazon_payments/async::cron</model></run>
            </flatz_amazon_payments_async>
        </jobs>
    </crontab>

</config>
