<?xml version="1.0"?>
<!--
/**
 * @category    Amazon
 * @package     FLATz_AmazonLogin
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <FLATz_AmazonLogin>
            <version>0.1.0</version>
        </FLATz_AmazonLogin>
    </modules>
    <global>
        <blocks>
            <flatz_amazon_login>
                <class>FLATz_AmazonLogin_Block</class>
            </flatz_amazon_login>
        </blocks>
        <models>
            <flatz_amazon_login>
                <class>FLATz_AmazonLogin_Model</class>
                <resourceModel>login_mysql4</resourceModel>
            </flatz_amazon_login>
            <login_mysql4>
                <class>FLATz_AmazonLogin_Model_Resource</class>
                <entities>
                    <login>
                        <table>flatz_amazon_login</table>
                    </login>
                </entities>
            </login_mysql4>
        </models>

        <resources>
            <flatz_amazon_login_setup>
                <setup>
                    <module>FLATz_AmazonLogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flatz_amazon_login_setup>
            <flatz_amazon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flatz_amazon_write>
            <flatz_amazon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flatz_amazon_read>
        </resources>

        <helpers>
            <flatz_amazon_login>
                <class>FLATz_AmazonLogin_Helper</class>
            </flatz_amazon_login>
        </helpers>
    </global>



    <frontend>
        <secure_url>
            <flatz_amazon_login_verify>/flatz_amazon_login/customer/verify</flatz_amazon_login_verify>
        </secure_url>
        <routers>
            <flatz_amazon_login>
                <use>standard</use>
                <args>
                    <module>FLATz_AmazonLogin</module>
                    <frontName>flatz_amazon_login</frontName>
                </args>
            </flatz_amazon_login>
        </routers>
        <layout>
            <updates>
                <flatz_amazon_login>
                    <file>flatz_amazon_login.xml</file>
                </flatz_amazon_login>
            </updates>
        </layout>        
        <translate>
            <modules>
                <FLATz_AmazonLogin>
                    <files>
                        <default>FLATz_AmazonLogin.csv</default>
                    </files>
                </FLATz_AmazonLogin>
            </modules>
        </translate>
    </frontend>
    
    <adminhtml>
        <translate>
            <modules>
                <FLATz_AmazonLogin>
                    <files>
                        <default>FLATz_AmazonLogin.csv</default>
                    </files>
                </FLATz_AmazonLogin>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <flatz_amazon_login>
            <settings>
                <enabled>1</enabled>
                <popup>1</popup>
                <button_type>LwA</button_type>
                <button_color>Gold</button_color>
                <button_size>medium</button_size>
            </settings>
        </flatz_amazon_login>
    </default>

</config>
